.bg-img{
	background-image: linear-gradient( 122.3deg,  rgba(111,71,133,1) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,1) 84.8% );
	min-height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
}

.bg-atas{
	background-color: #ffffff50;
	backdrop-filter: blur(10px);
	border-radius: 0px;
	height: 15vh;
	width: 100vw;

}

.bg-glases{
	background-color: #ffffff50;
	border: 1px solid #ffffff !important;
	border-radius: 15px;
	backdrop-filter: blur(10px);
}